@import "../styles/globals.css";

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    @apply font-sans;
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
